<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<!-- bookSearchDetail CSS -->
<th:block layout:fragment="css">
	<link th:href="@{/css/main/main.css}" rel="stylesheet">
	<link th:href="@{/css/member/myPage.css}" rel="stylesheet">
</th:block>
<!-- bookSearchDetail JS -->
<th:block layout:fragment="script">
	<!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<th:block layout:fragment="content">

	<div class="wrap">
		<h1>도서검색 페이지 입니다</h1>
		<!-- 카드형식 -->
		<section id="team" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h3><span th:text="'\''+${keyword}+'\'' + ' 에 대한 검색 결과는 총 ' + '10권 입니다.'"></span></h3>
							<p>필터 기능을 통해 원하는 책을 검색해보세요!</p>
						</div>
					</div>
				</div>
				<div class="row">

					<!-- team member item -->
 					<div class="col-md-3" th:each="bookInfo : ${bookInfo}">
						<div class="team-item">
							<div class="team-image">
 								<img th:src="${bookInfo.image}" class="img-responsive"
									alt="author">
							</div>
							<div class="team-text">
 								<h3>
									<span th:text="${bookInfo.title}"></span>
								</h3>
								<div class="team-position">
									<span th:text="${bookInfo.author}"></span>
								</div>
								<!-- <p th:text="${bookInfo.description}"></p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 카드형식 end -->

		<div th:text="${bookInfo}"></div>
	</div>
	<script>
/* 		const allTitle = [[${bookInfo}]]
		for ( let bI of bookInfo) {
			allTitle.push(bI.items.title)
		}
		console.log(allTitle); */
	</script>

</th:block>
</html>