<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

	<!-- myPage CSS -->
	<th:block layout:fragment="css">
		<link th:href="@{/css/member/myPage.css}" rel="stylesheet">
	</th:block>
	
	<!-- myPage js -->
	<th:block layout:fragment="script">
		<!--    <script th:src="@{/js/member/myPage.js}"></script>-->
	</th:block>
	
	<!-- Content -->
	<th:block layout:fragment="content">
		<div class="wrap">
			<h1>마이페이지</h1>
			<div id="profile_wrap">
				<div id="profile_img">
					<div>
						<!-- <img alt="프로필사진" th:src="#"> -->
					</div>
					<div>
						<span th:text="${list[0].memName}"></span> {<span
							th:text="${list[0].memNickName}"></span>} | 등급: <span
							th:if="${list[0].memGrade < 30}"> 새싹 <i class="fa fa-leaf"
							aria-hidden="true"></i></span> <span
							th:if="${list[0].memGrade >= 30 and list[0].memGrade < 99}">
							줄기 <i class="fa fa-pagelines" aria-hidden="true"></i>
						</span> <span th:if="${list[0].memGrade >= 100}"> 나무 <i
							class="fa fa-tree" aria-hidden="true"></i></span>
					</div>
	
				</div>
			</div>
			<a th:href="@{my-page/check-pw-form/{id}(id=${list[0].memId})}">정보수정</a>
		</div>
	</th:block>
</html>