<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

	<!-- main CSS -->
	<th:block layout:fragment="css">
			<link th:href="@{/css/main/main.css}" rel="stylesheet">
			<link th:href="@{/css/main/owl.carousel.css}" rel="stylesheet">
	</th:block>
	
	
	<!-- main js -->
	<th:block layout:fragment="script">
		
	</th:block>
	
	
	<!-- Content -->
	<th:block layout:fragment="content">
	<!-- carousel -->
		<div class="main_wrap">
			<header>
				<div id="main_banner_carousel" class="container-fluid">
					<div class="slider-container">
						<div class="owl-slider owl-carousel">
							<div class="item">
								<div class="owl-slider-item">
									<img src="/images/demo/slider-1.jpg" class="img-responsive" alt="portfolio">
									<!--	<div class="intro-text">
										<div class="intro-lead-in">We are the number one</div>
										<div class="intro-heading">Design & Development Agency</div>
									</div> -->
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="/images/demo/slider-2.jpg" class="img-responsive" alt="portfolio">
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="/images/demo/slider-3.jpg" class="img-responsive" alt="portfolio">
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="/images/demo/slider-4.jpg" class="img-responsive" alt="portfolio">
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- carousel end -->
			
			<!-- 검색창 -->
	 		<section class="section-cta">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<form action="/book/search-detail">
								<div class="search_box">
									<input id="search_bar"  type="text" name="keyword" maxlength="225">
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</section>
			<!-- 검색창 end -->
			
			<!-- 카드형식 -->
			<section id="team" class="light-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<h2>이 달의 추천책</h2>
								<p>북스러버들이 추천하는 책들을 만나보세요!</p>
							</div>
						</div>
					</div>
					<div class="row">
					
						<!-- team member item -->
						<div class="col-md-3">
							<div class="team-item">
								<div class="team-image">
									<img src="/images/demo/author-2.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>${bookInfo.title}</h3>
									<div class="team-position">${bookInfo_writer}</div>
									<p>${bookInfo_content}</p>
	
								</div>
							</div>
						</div>
	
						<div class="col-md-3">
							<div class="team-item">
								<div class="team-image">
									<img src="/images/demo/author-6.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>${book_title}</h3>
									<div class="team-position">${book_writer}</div>
									<p>${book_content}</p>
	
								</div>
							</div>
						</div>
	
						<div class="col-md-3">
							<div class="team-item">
								<div class="team-image">
									<img src="/images/demo/author-4.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>${book_title}</h3>
									<div class="team-position">${book_writer}</div>
									<p>${book_content}</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team-item">
								<div class="team-image">
									<img src="/images/demo/author-4.jpg" class="img-responsive" alt="author">
								</div>
								<div class="team-text">
									<h3>${book_title}</h3>
									<div class="team-position">${book_writer}</div>
									<p>${book_content}</p>
								</div>
							</div>
						</div>
						
						<!-- end team member item -->
					</div>
				</div>
			</section>
			<!-- 카드형식 end -->
			
			<!-- hover 카드 -->
			<section id="about" class="light-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<h2>이 달의 신상 책</h2>
								<p>북스러버들이 추천하는 새로운 책들을 만나보세요!</p>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- about module -->
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<i class="fa fa-photo color1 ot-circle"></i>
									<h3>${book_title}</h3>
									<p>${book_writer}</p>
								</div>
								<a href="#" class="mz-module-button">read more</a>
							</div>
						</div>
						<!-- end about module -->
						<!-- about module -->
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<i class="fa fa-photo color2 ot-circle"></i>
									<h3>${book_title}</h3>
									<p>${book_writer}</p>
								</div>
								<a href="#" class="mz-module-button">read more</a>
							</div>
						</div>
						<!-- end about module -->
						<!-- about module -->
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<i class="fa fa-photo color3 ot-circle"></i>
									<h3>${book_title}</h3>
									<p>${book_writer}</p>
								</div>
								<a href="#" class="mz-module-button">read more</a>
							</div>
						</div>
						<!-- end about module -->
						
						<!-- about module -->
						<div class="col-md-3 text-center">
							<div class="mz-module">
								<div class="mz-module-about">
									<i class="fa fa-photo color4 ot-circle"></i>
									<h3>${book_title}</h3>
									<p>${book_writer}</p>
								</div>
								<a href="#" class="mz-module-button">read more</a>
							</div>
						</div>
						<!-- end about module -->
					</div>
				</div>
				<!-- /.container -->
			</section>
			<!-- hover 카드 end -->
			
			<!-- modal 카드 -->
			<section id="portfolio" class="light-bg">
				<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Portfolio</h2>
							<p>Our portfolio is the best way to show our work, you can see here a big range of our work. Check them all and you will find what you are looking for.</p>
						</div>
					</div>
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-1.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Dean & Letter</h2>
									<p>Branding, Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-2.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Startup Framework</h2>
									<p>Branding, Web Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-3.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Lamp & Velvet</h2>
									<p>Branding, Web Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
				</div>
				<div class="row row-0-gutter">
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-4.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Smart Name</h2>
									<p>Branding, Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-5.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Fast People</h2>
									<p>Branding, Web Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<div class="col-md-4 col-0-gutter">
						<div class="ot-portfolio-item">
							<figure class="effect-bubba">
								<img src="/images/demo/portfolio-6.jpg" alt="img02" class="img-responsive" />
								<figcaption>
									<h2>Kites & Stars</h2>
									<p>Branding, Web Design</p>
									<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
								</figcaption>
							</figure>
						</div>
					</div>
					<!-- end portfolio item -->
				</div>
				</div><!-- end container -->
			</section>
			<!-- modal 카드 end -->
			
			<section id="features" class="section-features">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<div class="section-title">
								<h2>Nantes Features</h2>
							</div>
						</div>
					</div>
					<div class="row row-gutter">
						<div class="col-md-4 col-gutter">
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-television"></i></div>
								<div class="featured-text">
									<h4>Fully Responsive Design</h4>
									<p>INFRA theme looks awesome at any size, be it a Laptop screen, Mobile or Tablet.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-cogs"></i></div>
								<div class="featured-text">
									<h4>Advanced Control Panel</h4>
									<p>You can take full control of your theme with our powerful yet easy-to-use theme options panel from setting to styling.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-newspaper-o"></i></div>
								<div class="featured-text">
									<h4>Custom Page Templates</h4>
									<p>Our themes come packaged with multiple pages templates including Authors Team, Full Width, and more to enhance your site.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-gutter">
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-indent"></i></div>
								<div class="featured-text">
									<h4>Unlimited Widget Areas</h4>
									<p>We include just the right amount of useful widget areas and sidebars so you can place your content.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-paste"></i></div>
								<div class="featured-text">
									<h4>Custom Widgets</h4>
									<p>We include our own widgets for Reviews, Social, Advertising and additional custom widgets to enhance your site.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-dollar"></i></div>
								<div class="featured-text">
									<h4>AD Management</h4>
									<p>You can place various size of banner images in your sidebar and banners to other ad positions with ease.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-gutter">
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-font"></i></div>
								<div class="featured-text">
									<h4>Icons and Fonts</h4>
									<p>We include FontAwesome Icons &amp; Hundreds of Google Fonts to Choose from to customize your site.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-wordpress"></i></div>
								<div class="featured-text">
									<h4>Compatible with Latest WordPress</h4>
									<p>We continuously test our themes so you will know they are always compatible with the latest version of WordPress.</p>
								</div>
							</div>
							<div class="featured-item">
								<div class="featured-icon"><i class="fa fa-file-code-o"></i></div>
								<div class="featured-text">
									<h4>Bootstrap Framework</h4>
									<p>The theme is based on Bootstrap framework. We use default row/col- Bootstrap grid system.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<p id="back-top">
				<a href="#top"><i class="fa fa-angle-up"></i></a>
			</p>
			
			<!-- Modal for portfolio item 1 -->
			<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
						</div>
						<div class="modal-body">
							<img src="/images/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
							<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Modal for portfolio item 2 -->
			<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
						</div>
						<div class="modal-body">
							<img src="/images/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
							<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Modal for portfolio item 3 -->
			<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
						</div>
						<div class="modal-body">
							<img src="/images/demo/portfolio-3.jpg" alt="img01" class="img-responsive" />
							<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Modal for portfolio item 4 -->
			<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
						</div>
						<div class="modal-body">
							<img src="/images/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
							<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
	
			<!-- Modal for portfolio item 5 -->
			<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="Modal-label-5">Fast People</h4>
						</div>
						<div class="modal-body">
							<img src="/images/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
							<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</html>