<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!-- 레이아웃 속성사용 -->
	

<!--headerFragment 선언-->
	<th:block layout:fragment="css">
	<!-- Custom styles for this template -->
		<link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
	</th:block>
	<div th:fragment="headerFragment">
	
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand page-scroll" href="/"><img src="images/logo.png" alt="Sanza theme logo"></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="hidden">
								<a href="/"></a>
							</li>
							<li>
								<a class="page-scroll" href="/">홈</a>
							</li>
							<li>
								<a class="page-scroll" href="book-search">도서검색</a>
							</li>
							<li>
								<a class="page-scroll" href="book-review">도서후기</a>
							</li>
							<li>
								<a class="page-scroll" href="book-club">독서모임</a>
							</li>
							<li>
								<a class="page-scroll" href="my-page">나의정보</a>
							</li>	
							<li>
								<a class="page-scroll" href="login">로그인</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
	</div>
	
</html>