<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
      
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
<!-- 	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >     
 --></th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content" style="padding-top:30px; min-height:1000px; ">
	<div class="container" style="min-width:1000px;" >
		<p>상세페이지</p>
		<P th:text="${detail.reviewId}"/>.
		<p th:text="${detail.reviewTitle}"/>
		<p th:text="${detail.reviewWriter}"/>
		<p th:text="${detail.reviewDate}"/>
		<p th:text="${detail.reviewContent}"/>
	</div>
</div>
</script>